html, body {
  width: 100%;
  margin: 0;
  height: 100%;
}

.banner {
  background-color: #0066CC;
  height: 13%;
  border: solid 4px black;
  position: relative;
}

h1 {
  font-weight: bold;
  margin-left: 10%;
  font-size: 40px;
  font-family: Georgia, serif; 
  color: #CFCFCF;
  position: absolute;
  top: 15%;
}

.menu {
  width: 80%;
  height: 10%;
  margin: 0 auto;  
  position: relative;
}

.search-menu {
  position: absolute;
  top: 35%;
  width: 100%;
}

input[type="submit"] {
  background-color: #0066CC;
  font-size: 16px;
  border-radius: 5px;
  border-color: black;
  font-weight: bold;
  margin-left: 2%;
  height: 35px;
  width: 100px;
}

input[type="text"] {
  font-size: 15px;
  height: 30px;
  width: 300px;
  border: inset 3px #0066CC;
  padding-left: 15px;
}
