<div class="banner">
  <h1>Portfolio Builder</h1>
</div>

<!-- Section purpose: Allow users to insert multiple strings seperated by commas to reporesent portfolios to build -->
<div class="menu">
  <form class="search-menu">
    <input type="text" name="analyze-portfolio" placeholder="Analyze portfolio">
    <input type="submit" value="Submit">
  </form>
</div>

<!-- Purpose of this is to show analytics of the portfolio -->
<div class="portfolio-container">
  <!-- <img src="http://www.ibigroup.com/wp-content/uploads/2013/07/ibi-investors-stock-market-01.jpg"> -->
  <div class="portfolio-banner">
    <h2>My Portfolio</h2>
  </div>

  <!-- rest of this will now be charts. Javascript Time!! -->
  <!-- 
  In here we will build the following:
   - portfolio price chart
   - sector allocation (do not have access to sector data right now)
   - Fundamental combined data
  -->
</div>