<div class="banner">
  <h1>Portfolio Builder</h1>
</div>

<div class="menu">
  <form class="search-menu">
    <input type="text" name="analyze-portfolio" placeholder="Analyze portfolio">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="portfolio-container">
  <img src="http://www.ibigroup.com/wp-content/uploads/2013/07/ibi-investors-stock-market-01.jpg">
  <div class="portfolio-banner">
    <h2>My Portfolio</h2>
  </div>
    <div id="container-sector" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <div id="container-mktCap" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <div id="container-valuation" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <div id="container-returnRatio" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
