<div class="banner">
  <h1>Portfolio Builder</h1>
</div>

<div class="menu">
  <form class="search-menu">
    <input type="text" name="analyze-portfolio" placeholder="Analyze portfolio">
    <input type="submit" value="Submit">
  </form>
</div>

<div class="portfolio-container">
  <img src="http://www.undervaluedequity.com/images/Free-Charts_8592640179_b123de30b6_o_780x390px_85pct.jpg">
  <div id="container-sector" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  <div id="container-mktCap" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  <div id="container-valuation" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  <div id="container-returnRatio" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>
