<nav>
  <div class="nav-wrapper #0d47a1 blue darken-4">
    <a href="#" class="brand-logo left">Portfolio Analyzer</a>
  </div>
</nav>

<div class="row #ffffff white">
  <div class="input-field col s6">
  <form>
    <input name="analyze-portfolio" type="text" class="validate">
    <label class="active">Analyze Portfolio</label>
  </form>
  <div class="progress #0d47a1 blue darken-4">
      <div class="indeterminate #64b5f6 blue lighten-2
"></div>
  </div>
  </div>
</div>


<div class="portfolio-container">
  <div class="pie-charts">
    <div id="container-sector" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <div id="container-mktCap" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
  <div class="bar-charts">
    <div id="container-valuation" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <div id="container-returnRatio" class ="charts" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  </div>
</div>
 -->